
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<header>
  <div class="header">
    <!-- <a href="#default" class="logo">CompanyLogo</a> -->
    <div class="header-right">
      <a class="active" href="/map">Home</a>
      <a class="active" style="margin-left: 10px;" href="/eventList">My Events</a>
      <a class="active" style="margin-left: 10px;" href="/changePass">Profile</a>
      <!-- <a href="#contact">Contact</a> -->
      <a (click)="Logout()">Logout</a>
    </div>
  </div>
</header>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<div style="    margin-right: auto;
width: 1524px;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;" >
    <div style= "text-align: -webkit-center;"class="row">
        <div style="float: none!important; padding-top: 100px;" class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span>
                        Change password   
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row" style="            background: #fff;
                    box-shadow: 0 0 25px 0 #1c87c9; " >
                        <form [formGroup]="passChangeForm!" (ngSubmit)='OnSubmit()'>
                            <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br>
                            <img alt="" class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar1.png">                        
                            </div>
                            <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                            <div class="form-group">
                                <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input class="form-control" type="password" formControlName='pass' id="pass" class="fadeIn first"  placeholder="Current Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                <input class="form-control" type="password" formControlName='newPass' id="newPass" class="fadeIn second" placeholder="New Password">
                                </div>
                            </div>
                            <div [hidden]="!hidden">
                                <div class="col-xs-6 col-sm-6 col-md-6"></div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <button class="btn icon-btn-save btn-success" type="submit" value="onSubmit">
                                    <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>Change Pass</button>
                                </div>
                                </div>
                            </div>
                            <div [hidden]="hidden" style="margin-top: 50px;">
                                <mat-spinner style="margin: auto;" [diameter]="40"></mat-spinner>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>