<body>
    <div class="wrapper fadeInDown" style="padding-top: 200px;">
        <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign-Up</h2>
        <br><br><br><br>

    
        <!-- Icon -->
        <!-- <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div> -->
    
        <!-- Login Form -->
        <form [formGroup]="registerForm!" (ngSubmit)='onSubmit()'>
            <input type="text" formControlName='credential'  id="credential" class="fadeIn second"  placeholder="Credential">
            <br>
            <input type="password" formControlName='password' id="password" class="fadeIn third"  placeholder="password">
            <br>
            <input type="password" formControlName='password2' id="password2" class="fadeIn fourth"  placeholder="password again">
            <br><br><br>
            <input type="submit" class="fadeIn fourth"  value="Submit">
        </form>
        <!-- <form (ngSubmit)='onSubmit()'>
            <div>
                <button class="hollow button primary" >
                  <img width="20px" style="margin-bottom:-1px; margin-right:5px" alt="Google login" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                  Sign in/up with Google
                </button>
              </div>
            <br><br>
        </form> -->
        <div id="formFooter">
            <a class="underlineHover" >Ens492 Admin Panel</a>
        </div>
        </div>
    </div>
</body>